{% extends 'base.html.twig' %}

{% block title %}Add Ticket{% endblock %}

{% block body %}
    <style>
        body {
            background-color: var(--primary-color);
        }
    </style>

    <div class="fix-block-dashboard"></div>

    <div class="block-dashboard">

        <div class="form">

            <div class="form-txt">
                <h1>Add ticket</h1>

                {{ form_start(ticket) }}
                {{ form_row(ticket.object) }}
                {{ form_row(ticket.details) }}
                {{ form_row(ticket.status) }}


                <button type="submit" class="btn">Add</button>
                {{ form_end(ticket) }}
            </div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}
