{% extends 'base.html.twig' %}

{% block title %}Tickets{% endblock %}

{% block body %}

    <h1>Ticket</h1>

    Email : {{ticket.email}}
    Nom : {{ticket.name}}
    Prenom : {{ticket.firstname}}
    Téléphone : {{ticket.phonenumber}}
    Adresse : {{ticket.adress}}
    Cp : {{ticket.cp}}
    City : {{ticket.city}}


{% endblock %}
