{% extends 'base.html.twig' %}

{% block title %}Appointment{% endblock %}

{% block body %}

    <h1>Appointment</h1>

    {% for i in appointment %}
    Objet : {{i.object}}
    Nom du commercial : {{i.userId.name}}
    Nom du client : {{i.clientId.name}}
    Date du rendez-vous : {{i.dateTime | date("m/d/Y H:m")}}
    Detail : <a href="/appointment/{{ i.id }}">ici</a>
    {% endfor %}


{% endblock %}
