{% extends 'base.html.twig' %}

{% block title %}Add Quotation{% endblock %}

{% block body %}
    <style>
        body {
            background-color: var(--primary-color);
        }
    </style>

    <div class="fix-block-dashboard"></div>

    <div class="block-dashboard">

        <div class="form">

            <div class="form-txt">
                <h1>Add quotation</h1>

                {{ form_start(quotation) }}
                {{ form_row(quotation.ref) }}
                {{ form_row(quotation.status) }}
                {{ form_row(quotation.TVA) }}
                {{ form_row(quotation.TTC) }}
                {{ form_row(quotation.HT) }}


                <button type="submit" class="btn">Add</button>
                {{ form_end(quotation) }}
            </div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}
