{% extends 'base.html.twig' %}

{% block title %}Appointment{% endblock %}

{% block body %}


    <style>
        body {
            background-color: var(--primary-color);
        }
    </style>

    <div class="dashboard-homepage">

        <table>
            <caption>Rendez-vous</caption>
            <thead>
            <tr>
                <th scope="col">Client</th>
                <th scope="col">Nom du commercial</th>
                <th scope="col">Compagny</th>
                <th scope="col">Type</th>
                <th scope="col">Detail</th>
            </tr>
            </thead>
            <tbody>

            {% for i in exchange %}
                <tr>
                    <td data-label="Client">{{ i.clientId.name }}</td>
                    <td data-label="Nom du commercial">{{ i.userId.name }}</td>
                    <td data-label="Compagny">{{ i.compagny.name }}</td>
                    <td data-label="Type">{{ i.type }}</td>
                    <td data-label="Detail"><a href="/exchange/{{ i.id }}">ici</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table><br/>

        <a href="/add/exchange" class="login">Ajouter un échange</a>


    </div>
    <div class="clear"></div>


{% endblock %}
