{% extends 'base.html.twig' %}

{% block title %}Add Client{% endblock %}

{% block body %}

    <style>
        body {
            background-color: var(--primary-color);
        }
    </style>

    <div class="fix-block-dashboard"></div>

    <div class="block-dashboard">

        <div class="form">

            <div class="form-txt">
                <h1 class="h1-form-dashboard">Ajouter un client</h1>

                {{ form_start(client) }}
                {{ form_row(client.email) }}
                {{ form_row(client.name) }}
                {{ form_row(client.first_name) }}
                {{ form_row(client.phonenumber) }}
                {{ form_row(client.adress) }}
                {{ form_row(client.CP) }}
                {{ form_row(client.city) }}
                {{ form_row(client.commitment) }}
                {{ form_row(client.compagny) }}
                    <button type="submit" class="btn">Ajouter un client</button>
                    {{ form_end(client) }}
            </div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}
