<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
         {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="/build/app.css">
    {% endblock %}

    {% block javascripts %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        {# {{ encore_entry_script_tags('app') }} #}
    {% endblock %}
</head>
<body>

{% if app.user %}

{% else %}

    <nav id="mainnav" class="group">
        <div class="wrap">
            <div id="menu">&#x2261;</div>
            <div class="logo">
                <img src="{{ asset('images/logo.png') }}" alt="Logo">
            </div>
            <ul class="link">
                <li><a href="#informations">Informations</a></li>
                <li><a href="#avantages">Avantages</a></li>
                <li><a href="/login" class="login">Se connecter</a></li>
            </ul>
        </div>
    </nav>
{% endif %}


<nav id="mainnav" class="group dashboard-nav">
    <div class="wrap">
        <div id="menu">&#x2261;</div>
        <div class="logo">
            <img src="{{ asset('images/logo.png') }}" alt="Logo">
        </div>
        <ul class="link">
            {% if app.user %}
                <li class="unshow"><a href="/add/appointment">Rendez-vous</a></li>
                <li class="unshow"><a href="/add/client">Clients</a></li>
                <li class="unshow"><a href="/add/compagny">Entreprises</a></li>
                <li class="unshow"><a href="/add/exchange">Notes</a></li>
                <li class="unshow"><a href="/add/invoice">Factures</a></li>
                <li class="unshow"><a href="/add/quotation">Devis</a></li>
                <li class="unshow"><a href="/add/ticket">Tickets</a></li>
                <li class="unshow"><a href="/register">Utilisateurs</a></li>
                <li class="unshow"><a href="/logout" class="login">Deconnexion</a></li>
            {% else %}
                <li><a href="#informations">Informations</a></li>
                <li><a href="#avantages">Avantages</a></li>
                <li><a href="/login" class="login">Se connecter</a></li>
            {% endif %}
        </ul>
    </div>
</nav>


<div class="dashboard">
    <ul>
        <div class="logo-dashboard">
            <img src="{{ asset('images/logo.png') }}" alt="Logo">
        </div>
        <li><a href="/appointment">Rendez-vous</a></li>
        <li><a href="/client">Clients</a></li>
        <li><a href="/compagny">Entreprises</a></li>
        <li><a href="/exchange">Notes</a></li>
        <li><a href="/invoice">Factures</a></li>
        <li><a href="/quotation">Devis</a></li>
        <li><a href="/ticket">Tickets</a></li>
        <li><a href="/register">Utilisateurs</a></li>
        <li><a href="/logout">Deconnexion</a></li>
    </ul>
</div>

<!-- responsive navbar -->
<script>
    $(document).ready(function () {
        $('#menu').bind('click', function (event) {
            $('#mainnav ul').slideToggle();
        });
        $(window).resize(function () {
            var w = $(window).width();
            if (w > 768) {
                $('#mainnav ul').removeAttr('style');
            }
        });
    });
</script>

{% block body %}{% endblock %}
</body>
</html>
