{% extends 'base.html.twig' %}

{% block title %}Compagny{% endblock %}

{% block body %}
    <h1>Compagny</h1>

    Name : {{compagny.name}}
    Adress : {{compagny.adress}}
    Send Adress : {{compagny.sendAdress}}
    TVA : {{compagny.tva}}
    NAF : {{compagny.naf}}
    Siret : {{compagny.siret}}

{% endblock %}
