{% extends 'base.html.twig' %}

{% block title %}Compagny{% endblock %}

{% block body %}
    <style>
        body {
            background-color: var(--primary-color);
        }
    </style>

    <div class="dashboard-homepage">
        <div class="dashboard-homepage-details">
            <h1>Détails de l'entreprise {{compagny.name}}</h1>

            <div class="card"><h2>Name : </h2>{{compagny.name}}</div>
            <div class="card"><h2>Adress : </h2>{{ compagny.adress }}</div>
            <div class="card"><h2>Send Adress : </h2>{{ compagny.sendAdress }}</div>
            <div class="card"><h2>TVA : </h2>{{ compagny.tva }}</div>
            <div class="card"><h2>NAF : </h2>{{ compagny.naf }}</div>
            <div class="card"><h2>Siret : </h2>{{ compagny.siret }}</div>
        </div>
    </div>

{% endblock %}
