{% extends 'base.html.twig' %}

{% block title %}Add Invoice{% endblock %}

{% block body %}
    <style>
        body {
            background-color: var(--primary-color);
        }
    </style>

    <div class="fix-block-dashboard"></div>

    <div class="block-dashboard">

        <div class="form">

            <div class="form-txt">
                <h1 class="h1-form-dashboard">Ajouter une facture</h1>

                {{ form_start(invoice) }}
                {{ form_row(invoice.ref, {
                    label: 'Référence'
                }) }}
                {{ form_row(invoice.status, {
                    label: 'Statut'
                }) }}
                {{ form_row(invoice.TVA, {
                    label: 'TVA'
                }) }}
                {{ form_row(invoice.TTC, {
                    label: 'TTC'
                }) }}
                {{ form_row(invoice.HT, {
                    label: 'HT'
                }) }}
                {{ form_row(invoice.client_id) }}
                {{ form_row(invoice.ticket_id) }}
                    <button type="submit" class="btn">Ajouter une facture</button>
                    {{ form_end(invoice) }}
            </div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}
