{% extends 'base.html.twig' %}

{% block title %}Invoice{% endblock %}

{% block body %}
    <style>
        body {
            background-color: var(--primary-color);
        }
    </style>

    <div class="fix-block-dashboard"></div>

    <div class="block-dashboard">

        <div class="form">

            <div class="form-txt">
                <h1 class="h1-form-dashboard">Détails de la facture</h1>

                <div class="card"><h2>Ref : </h2>{{invoice.ref}}</div>
                <div class="card"><h2>Status : </h2>{{ invoice.status }}</div>
                <div class="card"><h2>TVA : </h2>{{ invoice.tva }}</div>
                <div class="card"><h2>TTC : </h2>{{ invoice.ttc }}</div>
                <div class="card"><h2>HT : </h2>{{ invoice.ht }}</div>
                <div class="card"><h2>Client : </h2>{{ invoice.client.name }}</div>
                <div class="card"><h2>User : </h2>{{ invoice.user.name }}</div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}
